<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link href="https://fonts.googleapis.com/css?family=Rajdhani|Roboto:300,400" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="dist/bundle.js"></script>
</head>
<body class="page-investigation">
	<div class="main-container">
		<!-- header -->
		{{> templates/topribbon}}
		{{> templates/header investigacion="active"}}
		<!-- end of header -->


		<!-- body: investigacion -->		
		<section class="site-content">
			<h1 class="content-title">Investigaciones</h1>
			<ul class="investigation-list"></ul>
		</section>
		<!-- end of body -->


		<!-- footer -->
		{{> templates/footer}}
		<!-- end of footer -->
	</div>
</body>
</html>