<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Torre de control - Sobre el proyecto</title>
	<link href="https://fonts.googleapis.com/css?family=Rajdhani|Roboto:300,400" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="dist/bundle.js"></script>
	{{> templates/analytics}}
</head>
<body class="page-sobre_el_proyecto">
	<div class="main-container">
		<!-- header -->
		{{> templates/topribbon}}
		{{> templates/header sobre_el_proyecto="active"}}
		<!-- end of header -->


		<!-- body: sobre_el_proyecto -->
		<section class="site-content">
			{{> templates/article_text_left}}
			{{!-- {{> templates/article_text_right}} --}}
		</section>
		<!-- end of body -->


		<!-- footer -->
		{{> templates/footer}}
		<!-- end of footer -->
	</div>
</body>
</html>
