.nodes {
  stroke: #f0f0f0;
  stroke-width: 1.5px;
  -webkit-transition: opacity ease 300ms;
  -moz-transition: opacity ease 300ms;
  -ms-transition: opacity ease 300ms;
  -o-transition: opacity ease 300ms;
  transition: opacity ease 300ms;
}