@keyframes empty-item {
    from {background-position: -4000px 0;}
    to {background-position: 0 0;}
}

.page-contracts {
  .site-content {
    @include outer-container;
    .contracts-content {
      @include span-columns(12);
      .search-box {
        @include span-columns(12);
        .search-input {
          @include span-columns(12);
        }
      }
      .content-title {
        @include span-columns(12);
      }
      .contract-search {
        @include span-columns(12);
      }
      .contract-filter {
        @include span-columns(12);
        .filter-footnote {
          @include span-columns(12);
        }
        .filters-wrapper {
          @include span-columns(12);
          .filter-box {
            @include span-columns(3);
            .select-wrapper {
              @include span-columns(12 of 12);
            }
            .filter-input {
              @include span-columns(12 of 12);
            }
            .half-input,
            .react-datepicker__input-container {
              @include span-columns(6 of 12);
            }
          }
        }
      }
      .sort-bar {
        @include span-columns(12);
        .sort-options-list {
          @include span-columns(12);
          .sort-by-title {
            @include span-columns(5);
          }
          .sort-by-count {
            @include span-columns(3);
          }
          .sort-by-amount {
            @include span-columns(2);
          }
        }
      }
      .organizations-list {
        @include span-columns(12);
        .organizations-item {
          @include span-columns(12);
          .organizations-header {
            @include span-columns(12);
            .organizations-title {
              @include span-columns(5);
            }
            .organizations-count {
              @include span-columns(3);
            }
            .organizations-amount {
              @include span-columns(2);
            }
            .organizations-send-info {
              @include span-columns(2);
              @include omega();
            }
          }

          .contracts-list {
            @include span-columns(12);
            .contracts-item {
              .contract-title {
                @include span-columns(8);
              }
              .contract-details {
                @include span-columns(12);
              }
              .details-left {
                @include span-columns(9);
                .contract-amount {
                  @include span-columns(12 of 12);
                }
                .contract-type {
                  @include span-columns(12 of 12);
                }
                .contract-procedure-type {
                  @include span-columns(12 of 12);
                }
              }
              .details-right {
                @include span-columns(3);
                .contract-start-date {
                  @include span-columns(12 of 12);
                }
                .contract-end-date {
                  @include span-columns(12 of 12);
                }
                .contract-ocid {
                  @include span-columns(12 of 12);
                }
              }
            }
          }
        }
      }
    }

  }

  .site-content {
    padding: 30px 10% 50px;
    .contracts-content {
      .pagination-bar {
        float: right;
        display: none;
        &.visible {
          display: block;
        }
        .pagination-item {
          background-color: transparent;
          border: none;
          display: inline-block;
          margin: 4px;
          cursor: pointer;
          font-family: Rajdhani;
          @include set-font($font-xs);
          &.active {
            font-weight: 600;
          }
          &:hover {
            text-decoration: underline;
          }
          &:focus {
            outline: none;
          }
        }
      }
      .search-title {
        display: block;
        color: $blue;
        font-weight: 600;
        margin-bottom: 5px;
      }
      .search-box {
        margin-bottom: 15px;
        .contract-search {

        }
      }
      .contract-filter {
        margin-bottom: 40px;
        .filter-box {
          margin-bottom: 10px;
          .select-wrapper {
            position: relative;
            &:before {
              content: '▸';
              position: absolute;
              top: 50%;
              right: 10px;
              transform: translateY(-50%) rotate(90deg);
              pointer-events: none;
            }
          }
          .filter-title {
            margin-bottom: 5px;
            display: inline-block;
            color: $blue;
            font-weight: 600;
            position: relative;
            .title-tip {
              @include set-font($font-xxs);
            }
            .filter-tip {
              display: block;
              width: 16px;
              height: 16px;
              position: absolute;
              right: -20px;
              top: 0;
              color: transparent;
              .tooltip-info {
                position: absolute;
                left: 50%;
                top: 22px;
                height: auto;
                width: 300px;
                transform: translateX(-50%);
                background-color: $white-grey;
                border: 1px solid $light-grey;
                border-top-color: $light-orange;
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
                padding: 10px;
                color: $grey;
                opacity: 0;
                pointer-events: none;
                @include set-font($font-xs);
                z-index: 100;
                &:before {
                  content: '';
                  position: absolute;
                  top: -6px;
                  left: 50%;
                  transform: translateX(-50%);
                  display: block;
                  z-index: -1;
                  width: 0;
                  height: 0;
                  border-style: solid;
                  border-width: 0 6px 6px 6px;
                  border-color: transparent transparent $light-orange transparent;
                }
              }
              &:before {
                content: 'i';
                position: absolute;
                text-align: center;
                font-family: Courier;
                @include set-font($font-xxs);
                font-style: normal;
                width: 16px;
                height: 16px;
                border-radius: 100%;
                border: 1px solid $grey;
                position: absolute;
                right: 0;
                top: 0;
                opacity: 0.7;
                cursor: pointer;
                color: $grey;
              }
              &:hover {
                &:before {
                  opacity: 1;
                }
                .tooltip-info {
                  opacity: 1;
                  pointer-events: initial;
                }
              }
            }
          }
          .half-input {

          }
        }
      }
      .sort-bar {
        user-select: none;
        border-bottom: 1px solid $orange;
        margin-bottom: 10px;
        .sort-options-list {
          margin-bottom: 5px;
          .sort-by-count {
            text-align: center;
          }
          .sort-by-amount {
            text-align: center;
          }
          .sort-options-item {
            cursor: pointer;
            &.active {
              font-weight: 600;
            }
            .arrows {
              margin-left: 12px;
              position: relative;
              .arrow-top,
              .arrow-bottom {
                position: absolute;
                right: 0;
                display: inline-block;
                font-style: normal;
                font-size: 15px;
                font-weight: 600;
                color: $black;
                opacity: 0.4;
                &.active {
                  opacity: 1;
                }
              }
              .arrow-top {
                top: -2px;
                transform: rotate(-90deg);
              }
              .arrow-bottom {
                bottom: -2px;
                transform: rotate(90deg);
              }
            }
          }
        }
      }
      .organizations-list {
        list-style: none;
        .organizations-item {
          position: relative;
          // overflow: hidden;
          margin-bottom: 10px;
          &.empty-item {
            height: 64px;
            background-color: #cccccc;
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
            margin-bottom: 24px;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cccccc+41,D9D9D9+49,cccccc+59 */
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cccccc+40,D9D9D9+50,cccccc+60 */
            background: #cccccc; /* Old browsers */
            background: -moz-linear-gradient(-45deg,  #cccccc 40%, #D9D9D9 50%, #cccccc 60%); /* FF3.6-15 */
            background: -webkit-linear-gradient(-45deg,  #cccccc 40%,#D9D9D9 50%,#cccccc 60%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(135deg,  #cccccc 40%,#D9D9D9 50%,#cccccc 60%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#cccccc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

            animation-name: empty-item;
            animation-duration: 4s;
            animation-iteration-count: infinite;
            background-repeat: no-repeat;
            background-size: 6000px;
          }

          .organizations-header {
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
            cursor: pointer;
            height: 64px;
            padding: 25px 10px 10px;
            margin-bottom: 4px;
            background-color: #cccccc;
            .organizations-title {
              color: $blue;
              font-weight: 600;
              text-transform: uppercase;
            }
            .organizations-count,
            .organizations-amount {
              color: $black;
              text-align: center;
            }
            .organizations-send-info {
              @include set-font($font-xxs);
              text-transform: uppercase;
              background-color: $orange;
              color: $white;
              text-decoration: none;
              padding: 4px 0;
              text-align: center;
              &:hover {
                background-color: $light-orange;
              }
            }
          }

          .contracts-list {
            list-style: none;
            max-height: 0;
            transition: max-height 300ms ease-out;
            overflow: hidden;
            width: calc(100% + 10px);
            &.opened {
              max-height: 2000px;
            }
            .contracts-item {
              border: 1px solid rgba(0, 0, 0, 0.03);
              margin-right: 10px;
              padding: 20px 10px 20px 10px;
              box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
              position: relative;
              overflow: auto;
              margin-bottom: 4px;
              background-color: #E0E2E1;
              // border-bottom: 1px solid $orange;
              .contract-title {
                margin-bottom: 10px;
                color: $blue;
              }
              .contract-details {

              }
              .details-left {
                .contract-amount {

                }
                .contract-type {

                }
                .contract-procedure-type {

                }
              }
              .details-right {
                .contract-start-date {

                }
                .contract-end-date {

                }
                .contract-ocid {

                }
                .contract-link {
                  @include set-font($font-xxs);
                  text-transform: uppercase;
                  background-color: $orange;
                  color: $white;
                  text-decoration: none;
                  padding: 4px;
                  &:hover {
                    background-color: $light-orange;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}