.page-metodologia {
	.site-content {
		@include outer-container;
		.content-title {
			@include span-columns(12);
		}
		.content-article {
			@include span-columns(12);
			.article-text {
				@include span-columns(12);
				@media screen and (min-width: 0) and (max-width: $desktop-size) {
					@include span-columns(12);
					@include omega();
				}
			}
			// .article-media {
			// 	@include span-columns(7);
			// 	@include omega();
			// 	@media screen and (min-width: 0) and (max-width: $desktop-size) {
			// 		@include span-columns(12);
							
			// 	}
			// }
		
		// 	&.article-theproject {
		// 		.article-text {
		// 			@include span-columns(9);
		// 			@media screen and (min-width: 0) and (max-width: $tablet-size) {
		// 				@include span-columns(12);
		// 			}
		// 			.article-header {
		// 				@include span-columns(4 of 8);
		// 				@media screen and (min-width: 0) and (max-width: $tablet-size) {
		// 					@include fill-parent();
		// 				}
		// 				.article-title {
							
		// 				}
		// 				.article-excerpt {
		// 					@include span-columns(1 of 2);
		// 					@media screen and (min-width: 0) and (max-width: $mobile-size) {
		// 						@include span-columns(2 of 2);
		// 					}
		// 				}
		// 			}
		// 			.article-body {
		// 				@include span-columns(4 of 8);
		// 				@media screen and (min-width: 0) and (max-width: $tablet-size) {
		// 					@include fill-parent();
		// 					@include omega();
		// 				}
		// 			}
		// 			@media screen and (min-width: 0) and (max-width: $desktop-size) {
		// 				@include span-columns(12);
		// 				@include omega();
		// 			}
		// 		}
		// 		.article-media {
		// 			@include span-columns(3);
		// 			@include omega();
		// 			@media screen and (min-width: 0) and (max-width: $desktop-size) {
		// 				@include span-columns(12);
		// 			}
		// 			@media screen and (min-width: 0) and (max-width: $mobile-size) {
		// 				.article-image {
		// 					@include span-columns(12);
		// 				}
		// 			}
		// 		}
		// 	}
		}
	}

	.site-content {
		padding: 30px 10%;
		@media screen and (min-width: 0) and (max-width: $mobile-size) {
      padding: 30px 10px 30px 10%;
    }
		.content-title {
			margin-bottom: 40px;
		}
		.article-text {
			padding-left: 100px;
			@media screen and (min-width: 0) and (max-width: $mobile-size) {
				padding-left: 0;
			}
			.article-header {
				.article-title {
					font-size: 21px;
					line-height: 23px;
					color: $blue;
				}
			}
			.article-body {
				.article-section {
					margin-bottom: 40px;
					.article-excerpt {
						font-size: 30px;
						line-height: 32px;
						color: $blue;
						.excerpt-strong {
							color: $blue;
						}
					}
				}
			}
		}
		// .article-media {
		// 	.article-image {
		// 		float: right;
		// 	}
		// }
		.article-whoami {
			ul, li {
				padding: 0;
				list-style: none;
			}

			ul, p {
				margin-bottom: 15px;
				font-size: 13px;
				line-height: 15px;
			}
			margin-bottom: 50px;
			.article-text {
				@media screen and (min-width: 0) and (max-width: $mobile-size) {
					margin-bottom: 20px;
				}
			}
			.article-media {
				top: -80px;
				@media screen and (min-width: 0) and (max-width: $desktop-size) {
					top: 0;
					margin-bottom: 120px;
				}
				// .article-image {
				// 	margin-right: 10%;
				// 	@media screen and (min-width: 0) and (max-width: $desktop-size) {

				// 		width: calc(90% - 100px);
				// 		margin-left: 100px;
				// 	}
				// 	@media screen and (min-width: 0) and (max-width: $mobile-size) {
				// 		width: 90%;
				// 	}
				// }
			}
		}
		// .article-theproject {
		// 	position: relative;
		// 	.article-text {
		// 		@media screen and (min-width: 0) and (max-width: $desktop-size) {
		// 			margin-bottom: 50px;
		// 		}
		// 		@media screen and (min-width: 0) and (max-width: $mobile-size) {
		// 			margin-bottom: 20px;
		// 		}
		// 	}		
		// 	.article-body {
		// 		background-color: rgba(255, 255, 255, 0.3);
		// 		padding: 10px 20px;
		// 		@media screen and (min-width: $tablet-size) and (max-width: $desktop-size) {
		// 			min-height: 300px;
		// 		}
		// 		@media screen and (min-width: 0) and (max-width: $mobile-size) {
		// 			padding: 10px 0;
		// 			background-color: transparent;
		// 		}
		// 	}
		// 	.article-media {
		// 		position: absolute;
		// 		top: 50%;
		// 		right: 0;
		// 		transform: translateY(-50%);
		// 		@media screen and (min-width: 0) and (max-width: $desktop-size) {
		// 			position: static;
		// 		}
		// 		@media screen and (min-width: 0) and (max-width: $tablet-size) {
		// 			position: absolute;
		// 			top: 40px;
		// 			right: 0;
		// 			transform: none;
		// 		}
		// 		@media screen and (min-width: 0) and (max-width: $mobile-size) {
		// 			position: static;
		// 		}
		// 		.article-image {
		// 			border-radius: 100%;
		// 			@media screen and (min-width: $tablet-size) and (max-width: $desktop-size) {
		// 				position: absolute;
		// 				left: 100px;
		// 				bottom: 0;
		// 			}
		// 			@media screen and (min-width: 0) and (max-width: $mobile-size) {
		// 				border-radius: 0;
		// 				position: static;
		// 				float: none;
		// 				height: auto;
		// 				width: 100%;
		// 			}
		// 		}
		// 	}
		// }
	}

	.ornament-stripped{
		position: relative;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			width: 10%;
			float: right;
			background-color: $blue;
			background-image: linear-gradient(-45deg, transparent 14px, $light-grey 1px, transparent 15px),
			linear-gradient(-45deg, transparent 14px, $light-grey 1px, transparent 15px);
			background-size:20px 20px, 20px 20px;
			background-position:-2px -2px, -2px -2px;
		}
	}
	.ornament-square {
		position: relative;
		&:before {
			content: '';
			position: absolute;
			left: -98px;
			width: 20px;
			height: 20px;
			border: 2px solid $blue;
			@media screen and (min-width: 0) and (max-width: $mobile-size) {
				left: -30px;
			}
		}
	}

	.ornament-vertical-line {
		position: relative;
		&:before {
			content: '';
			position: absolute;
			margin-top: 20px;
			left: -98px;
			width: 2px;
			height: 40px;
			margin-left: 9px;
			background-color: $blue;
			@media screen and (min-width: 0) and (max-width: $mobile-size) {
				left: -30px;
			}
		}
	}

	.ornament-observatory {
		position: relative;
		&:before {
			content: '';
			position: absolute;
			// top: 0;
			// bottom: 0;
			top: -30px;
			width: 20px;
			height: 20px;
			border: 2px solid $blue;
		}
	}

	.ornament-people {
		position: relative;
		&:before {
			$box-width: 60;
			$half-width: $box-width / 2;
			content: '';
			position: absolute;
			top: 80%;
			right: calc(10% + 400px - #{$half-width + px});
			width: $box-width + px;
			height: $box-width + px;
			background-color: $blue;
			@media screen and (min-width: 0) and (max-width: $desktop-size) {
				left: 80px;
				$box-width: 40;
				$half-width: $box-width / 2;
				top: 80%;
				right: calc(10% + 400px - #{$half-width + px});
				width: $box-width + px;
				height: $box-width + px;
			}
			@media screen and (min-width: 0) and (max-width: $mobile-size) {
				left: -20px;
			}
		}
	}

	.ornament-frame{
		position: relative;
		&:after {
			content: '';
			position: absolute;
			top: -20px;
			bottom: -20px;
			right: 40px;
			left: -100px;
			z-index: -1;
			border: 5px solid $grey;
			background-image: linear-gradient(-45deg, transparent 14px, $light-grey 1px, transparent 15px),
			linear-gradient(-45deg, transparent 14px, $light-grey 1px, transparent 15px);
			background-size:20px 20px, 20px 20px;
			background-position:-2px -2px, -2px -2px;
			opacity: 0.2;
			@media screen and (min-width: 0) and (max-width: $mobile-size) {
				content: none;
				display: none;
			}
		}
	}
}