$blue: #013E5C;
$grey: #5b5b5f;
$orange: #C1463A;
$light-orange: #E9B9B5;
$green: #2C9243;
$light-green: #83B236;
$black: #333;
$white: #fff;
$light-grey: #D3D5D4;
$white-grey: #E0E2E1;
@mixin set-font($size) {
	font-size: $size + px;
	line-height: ceil($size * 1.0625) + px;
}

$font-xxs: 12;
$font-xs: 14;
$font-sm: 16;
$font-md: 20;
$font-lg: 48;
$font-xl: 70;

$mobile-size:420px;
$tablet-size:720px;
$desktop-size:960px;
$largedesktop-size:1050px;

// Bourbon Neat Breakpoints
$mobile: new-breakpoint(min-width 0 max-width $mobile-size, 12);
$tablet: new-breakpoint(min-width $mobile-size max-width $tablet-size, 12);
$desktop: new-breakpoint(min-width $tablet-size max-width $desktop-size, 12);
$largedesktop: new-breakpoint(min-width $desktop-size max-width $largedesktop-size, 12);

$until-desktop: new-breakpoint(min-width 0 max-width $desktop-size, 12);

@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	color: $black;
}

body {
	background-color:#E0E2E1;
	// background-image: linear-gradient(#D3D5D4 1px, transparent 1px),
	// linear-gradient(90deg, #D3D5D4 1px, transparent 1px),
	// linear-gradient(-45deg, transparent 70px, #D3D5D4 1px, transparent 71px),
	// linear-gradient(-45deg, transparent 70px, #D3D5D4 1px, transparent 71px);
	// background-size:100px 100px, 100px 100px, 200px 200px, 200px 200px;
	// background-position:-2px -2px, -2px -2px, -2px -2px, -102px -102px;
	background-image: url('../images/bgpattern.jpg');
	background-size: 200px 200px;
	font-family: Rajdhani;
}

html,
body,
.main-container {
	width: 100%;
	height: 100%;
}

p,
h1,
h2,
h3,
ul,
figure {
	margin: 0 0 10px 0;
	padding: 0;
}

input,
select {
	font-family: Rajdhani;
	@include set-font($font-sm);
	line-height: 12px;
	padding: 0 5px;
	border: 1px solid #ccc;
    background: transparent;
    -webkit-appearance: none;
    border-radius: 0;
    height: 30px;
	&:focus {
		outline: none;
	}
}

textarea {
	background: transparent;
	font-family: Rajdhani;
	@include set-font($font-sm);
	border: 1px solid #ccc;
	resize: none;
	&:focus {
		outline: none;
	}
}

button {
	font-family: Rajdhani;
	@include set-font($font-xs);
	cursor: pointer;
	&:focus {
		outline: none;
	}
}

.site-content {
	@media screen and (min-width: 0) and (max-width: $mobile-size) {
		padding-top: 80px !important;
	}
}

.row {
	@include row();
}

.content-title {
	@include set-font($font-lg);
	COLOR: $blue;
}

.article-title {
	@include set-font($font-sm);
}

.article-excerpt {
	@include set-font($font-md);
	font-weight: 300;
	.excerpt-strong {
		display: block;
		font-weight: 600;
	}
}

.article-paragraph {
	@include set-font($font-sm);
}

.site-top-ribbon {
	@include span-columns(12);
	.ribbon-item {
		@include span-columns(6);
		.ribbon-link {
			@include span-columns(4);
		}
	}
	.ribbon-right {
		@include span-columns(5);
		@include shift(1);
		.ribbon-link {
			@include span-columns(4 of 12);
		}
	}
}

.site-top-ribbon {
	background-color: #0A314E;
	border-bottom: solid 1px #fff;
	margin: 0;
	padding: 10px 0;
	height: 50px;
	overflow: hidden;
	@media screen and (min-width: 0) and (max-width: $mobile-size) {
		display: none;
		height: 0;
		padding-bottom: 10px;
	}

	.ribbon-item {
		height: 100%;
		.ribbon-link {
		    text-decoration: none;
		    color: #006b8d;
		    margin: 0 auto;
		    text-align: center;
		    position: relative;
		    height: 100%;
		    &.link-desktop{
					@media screen and (min-width: 0) and (max-width: $mobile-size) {
		    		display:none;
						height: 0;
					}
	    	}
		    img {
		    	width: 100%;
		    	position: absolute;
		    	left: 50%;
		    	top: 50%;
		    	transform: translate3d(-50%, -50%, 0);
		    	&.link-desktop{
						@media screen and (min-width: 0) and (max-width: $mobile-size) {
			    		display:none;
							height: 0;
						}
		    	}
		    	&.link-mobile{
		    		display:none;
						height: 0;
						@media screen and (min-width: 0) and (max-width: $mobile-size) {
							display: inline-block;
							height: auto;
							height:24px;
							&.link-quienesquien{
								height:32px;
							}
						}
		    	}
		    }
		    .link-quienesquien {
		    	max-width: 101px;
		    }
		    .link-colaboratorio {
		    	max-width: 122px;
		    }
		    .link-colaboratorio {
		    	max-width: 103px;
		    }
		    .link-rindecuentas {
		    	max-width: 140px;
		    }
		    .link-mexicoleaks {
		    	max-width: 118px;
		    }
		    .link-peruleaks {
		    	max-width: 102px;
		    }
		}
	}
	.ribbon-right {
		position: relative;
		left: 10px;
	}
}

.site-header {
	@include header(60);
	@include span-columns(12);
	background-color: $white;
	position: relative;
	z-index: 1100;
	margin-bottom: 20px;
	.wg-navbar-logo {
		@include span-columns(4);
		margin-top: 4px;
		.navbar-logo-link {
			display: inline-block;
			@include fill-parent;
			height: 100%;
			position: relative;
			z-index: 1000;
		}

		.torre-logo {
			width: 100%;
			max-height: 30px;
			@media screen and (min-width: 0) and (max-width: $desktop-size) {
			    display: none;
		    }
		}
		.torre-logo-small {
			width: 100%;
			max-height: 30px;
			display: none;
			max-width: 28px;
			min-width: 20px;
			margin-left: 10px;
			@media screen and (min-width: 0) and (max-width: $desktop-size) {
			    display: block;
		    }
		    @media screen and (min-width: 0) and (max-width: $mobile-size) {
				margin-top: 4px;
		    }
			transition: opacity 0.1s ease 0.2s;
		    position: absolute;
		    top: 0;
		    left: 0;
		}
		.torre-logo-grey {
			opacity: 1;
		}
		.torre-logo-white {
			opacity: 0;
		}
	}
	.wg-navbar-menu-button span {
		background-color: $grey;
		transition: all 0.2s ease;
	}
	&.state-active {
		.torre-logo-grey {
			@media screen and (min-width: 0) and (max-width: $mobile-size) {
				opacity: 0;
			    transition: opacity 0.2s ease;
			}
		}
		.torre-logo-white {
			@media screen and (min-width: 0) and (max-width: $mobile-size) {
				opacity: 1;
			    transition: opacity 0.2s ease;
			}
		}
		.wg-navbar-menu-button span {
			background-color: $grey;
			transition: background-color 0.1s ease 0.2s, transform 0.3s ease;
		}
	}
	.wg-navbar {
			@include span-columns(8);
			max-width: 1024px;
			background-color: $white;
			@media screen and (min-width: 0) and (max-width: $mobile-size) {
				background-color: $white;
		  }
		.wg-navbar-menu {
			margin: 0;
			.wg-navbar-item {
				width: 25%;
				a {
					position: relative;
					text-transform: uppercase;
					text-decoration: none;
					font-size: 20px;
					@media screen and (min-width: 0) and (max-width: $mobile-size) {
						padding: 8px;
						color: $blue;
					}
					&:before {
						content: '';
						margin: 0 auto;
						border-bottom: 2px solid $orange;
						position: absolute;
						bottom: 10px;
						left: 35%;
						right: 35%;
						opacity: 0;
						@media screen and (min-width: 0) and (max-width: $mobile-size) {
							bottom: 3px;
						}
					}
					&:hover,
					&.active {
						background-color: transparent;
						font-weight: 600;
						&:before {
							opacity: 1;
						}
					}
				}
			}
		}
		.nav-legend {
			display: none;
		}
		.nav-separator {
			display: none;
		}
		.mobile-social {
			display: none;
		}
		.site-top-ribbon {
			border: none;
			display: none;
			float: none;
			clear: both;
			height: auto;
			overflow: visible;
			width: 100%;
			position: relative;
			z-index: 1100;
			background-color: transparent;
			@media screen and (min-width: 0) and (max-width: $mobile-size) {
				display: block;
				padding-bottom: 10px;
			}
			.ribbon-item {
				float: none;
				clear: both;
				height: auto;
				overflow: visible;
				width: 100%;
				position: initial;
				margin: 0 0 0 0;
				.ribbon-link {
					padding: 5px;
					float: none;
					clear: both;
					height: auto;
					overflow: visible;
					width: 100%;
					position: initial;
					img {
						position: initial;
						transform: none;
						margin-left: 0;
					}
				}
			}
			.ribbon-right {
				float: none;
				clear: both;
				height: auto;
				overflow: visible;
				width: 100%;
				position: initial;
				.ribbon-link {
					float: none;
					clear: both;
					height: auto;
					overflow: visible;
					width: 100%;
					position: initial;
					img {
						position: initial;
						transform: none;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 0) and (max-width: $desktop-size) {
    .site-header {
		.wg-navbar-logo {
			@include span-columns(1 of 12);
		}
		.wg-navbar {
			@include span-columns(11 of 12);
			.wg-navbar-menu {
				.wg-navbar-item {
					a {
						@include set-font($font-sm);
					}
				}
			}
		}
	}
}

@media screen and (min-width: 0) and (max-width: $mobile-size) {
	.site-header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1001;
		.wg-navbar-logo {
			margin: 0;
			@include span-columns(8 of 12);
		}
		.wg-navbar {
			padding-top: 60px;
			@include span-columns(12 of 12);
			overflow-y: scroll;
			overflow-x: hidden;
			.wg-navbar-menu {
				margin: 0;
				.wg-navbar-item {
					display: block;
					width: 100%;
					margin-bottom: 10px;
				}
			}
			.nav-legend {
				@include span-columns(12 of 12);
				text-align: center;
				margin: 10px;
				display: block;
				color: $grey;
			}
			.nav-separator {
				display: block;
				height: 1px;
				background: $grey;
				float: left;
				width: 80%;
				margin: 0 10%;
			}
			.mobile-icons{
				text-align: center;
				.organization-link{
					display: inline-block;
					margin: 0 5px;
				}
			}
			.mobile-social {
				@include span-columns(12 of 12);
				display: block;
				text-align: center;
				.social-item {
					display: inline-block;
					background-color: $white;
					width: 32px;
					height: 32px;
					border-radius: 32px;
					margin: 0 5px;
				}
			}
		}
	}
}

.site-footer {
	.site-development {
		@include outer-container;
		.sponsor-item {
			@include span-columns(1 of 5);
		}
	}
}

.site-footer {
	width: 100%;
	height: 200px;
	background-color: $white;
	z-index: 1;
	padding: 10px 50px;
	@media screen and (min-width: 0) and (max-width: $mobile-size) {
		padding: 10px;
	}
	.fixed-page & {
		bottom: 0;
		position: absolute;
	}
	.site-legend {
		.legend-title,
		.legend-body {
			color: $black;
		}
	}
	.site-development {
		.developed-by,
		.sponsored-by {
			color: $black;
			@media screen and (min-width: 0) and (max-width: $mobile-size) {
				@include set-font($font-xxs);
			}
			.developed-title ,
			.sponsored-title {
				font-weight: 600;
				margin-bottom: 10px;
				display: block;
				@media screen and (min-width: 0) and (max-width: $mobile-size) {
					display: block;
					margin-bottom: 10px;
				}
			}
			.organization-link {
				display: block;
				min-height: 52px;
				.organization-logo {
					max-width: 80px;
					max-height: 40px;
					margin: 10px;
					vertical-align: middle;
					@media screen and (min-width: 0) and (max-width: $mobile-size) {
						max-width: 50px;
						max-height: 20px;
					}
				}
				.logo-animal-politico {
					position: relative;
					top: -10px;
				}
				.logo-hivos{
					position: relative;
					top: -7px;
    			max-height: 35px;
				}
			}
			.organization-link:first-of-type {
				.organization-logo {
					@media screen and (min-width: 0) and (max-width: $mobile-size) {
						margin-left: 0;
					}
				}
			}
			.sitemap-link {
				display: block;
				text-decoration:none;
			}
		}

		.sponsored-by {
			text-align: right;
		}

		.developed-by {
		    margin-top: 10px;
		    @media screen and (min-width: 0) and (max-width: $mobile-size) {
			    margin-top: 0;
		    }
		}

		.sponsor-item {
			text-align: center;
		}

	}
	.site-social {
		span {
			color: $black;
		}

	}
}

.react-datepicker__tether-element-attached-bottom.react-datepicker__tether-element {
	margin: 5% auto !important;
	width: 90%;
	transform: initial !important;
	top: 0 !important;
	left: 0 !important;
	bottom: 0;
	right: 0;
	position: fixed !important;
}
.react-datepicker,
.react-datepicker__month-container,
.react-datepicker_month {
	@media screen and (min-width: 0) and (max-width: $mobile-size) {
		width: 100%;
	}
}
.react-datepicker__triangle {
	@media screen and (min-width: 0) and (max-width: $mobile-size) {
		display: none;
	}
}

.react-datepicker_day {
	@media screen and (min-width: 0) and (max-width: $mobile-size) {
		padding: 5%;
	}
}
