{{#> article_text_left}}
<article class="content-article article-whoami">
	<div class="article-text">
		<div class="article-header">
			<h1 class="article-title ornament-square">Quiénes somos</h1>
			<h2 class="article-excerpt ornament-vertical-line"><strong class="excerpt-strong">Lorem ipsum dolor sit amet, sect.</strong></h2>
		</div>
		<div class="article-body">
			<p class="article-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, deleniti sapiente numquam enim corporis amet quo quaerat, a deserunt cumque aliquid doloremque laudantium, dolorum accusamus. Cum eaque minima magni eos.</p>
			<p class="article-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, deleniti sapiente numquam enim corporis amet quo quaerat, a deserunt cumque aliquid doloremque laudantium, dolorum accusamus. Cum eaque minima magni eos.</p>
			<p class="article-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, deleniti sapiente numquam enim corporis amet quo quaerat, a deserunt cumque aliquid doloremque laudantium, dolorum accusamus. Cum eaque minima magni eos.</p>
		</div>
	</div>
	<figure class="article-media ornament-people ornament-stripped">
		<img src="http://www.placepandas.com/400/600" alt="" class="article-image">
	</figure>
</article>
{{/ article_text_left}}