{{#> article_text_right}}
<article class="content-article article-theproject">
	<div class="article-text">
		<div class="article-header">
			<h1 class="article-title ornament-observatory">El proyecto</h1>
			<h2 class="article-excerpt">Lorem ipsum dolor sit amet, <strong class="excerpt-strong">adipisicing elit.</strong></h2>
		</div>
		<div class="article-body ornament-frame">
			<p class="article-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, deleniti sapiente numquam enim corporis amet quo.</p>
			<p class="article-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, deleniti sapiente numquam enim corporis amet quo.</p>
			<p class="article-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, deleniti sapiente numquam enim corporis amet quo.</p>
		</div>
	</div>
	<figure class="article-media">
		<img src="http://www.placepandas.com/150/150" width="150" height="150" alt="" class="article-image">
	</figure>
</article>
{{/ article_text_right}}