{{#> footer}}
<footer class="site-footer">
	<div class="site-development">
		<p class="developed-by">Desarrollado por <a class="organization-link" href="#"><img src="src/images/poder.svg" alt="" class="organization-logo"></a> y <a class="organization-link" href="#"><img src="src/images/wingu.svg" alt="" class="organization-logo"></a></p>
		<p class="sponsored-by">Con el apoyo de <a class="organization-link" href="#"><img src="src/images/hivos.svg" alt="" class="organization-logo"></a></p>
	</div>
</footer>
{{/footer}}