{{#> footer}}
<footer class="site-footer">
	<div class="site-development">
		<p class="developed-by"><span class="developed-title">Desarrollado por</span> <a class="organization-link" href="#"><img src="src/images/poder.svg" alt="" class="organization-logo"></a> y <a class="organization-link" href="#"><img src="src/images/wingu.svg" alt="" class="organization-logo"></a></p>
		<p class="sponsored-by"><span class="sponsored-title">Con el apoyo de</span> <a class="organization-link" href="#"><img src="src/images/hivos.svg" alt="" class="organization-logo"></a></p>
	</div>
</footer>
{{/footer}}