{{#> footer}}
<footer class="site-footer">
	<div class="site-development col-sm-12">
		<p class="sponsor-item developed-by">
			<span class="developed-title">La Torre de control</span>
			<a class="sitemap-link" href="/">Visualización</a>
			<a class="sitemap-link" href="/contratos.html">Contratos</a>
			<a class="sitemap-link" href="/metodologia.html">Metodología</a>
			<a class="sitemap-link" href="/investigacion.html">Investigaciones</a></p>

		<p class="sponsor-item developed-by"><span class="developed-title">Desarrollado por</span>
			<a class="organization-link" href="#"><img src="src/images/poder.svg" alt="Poder" class="organization-logo"></a>
			<a class="organization-link" href="#"><img src="src/images/wingu.svg" alt="Wingu" class="organization-logo"></a>
		</p>

		<p class="sponsor-item developed-by"><span class="developed-title">Colaboran</span>
			<a class="organization-link" href="#"><img src="src/images/animal-politico.svg" alt="Animal Político" class="organization-logo logo-animal-politico"></a>
			<a class="organization-link" href="#"><img src="src/images/serapaz-trazo.svg" alt="Serpaz Trazo" class="organization-logo"></a>
		</p>

		<p class="sponsor-item developed-by"><span class="developed-title">Con el apoyo de</span>
			<a class="organization-link" href="#"><img src="src/images/hivos.svg" alt="Hivos" class="organization-logo"></a>
		</p>
		<p class="sponsor-item developed-by"><span class="developed-title">Síguenos en</span>
			<a class="organization-link" href="#"><img src="src/images/tw.svg" alt="Twitter" class="organization-logo"></a>
		</p>
	</div>
</footer>
{{/footer}}