{{#> topribbon}}
<div class="site-top-ribbon">
	<div class="ribbon-item">
		<a class="link-desktop ribbon-link" href="http://projectpoder.org/es/" target="_blank" rel="noopener noreferrer">
			<img class="link-desktop link-poder" style="width:115px;" src="src/images/poder-white.png" scale="0">
		</a>
		<a class="ribbon-link" href="https://www.rindecuentas.org/" target="_blank"  rel="noopener noreferrer">
			<img class="link-desktop link-rindecuentas" src="src/images/rindecuentas.svg" scale="0">
			<img class="link-mobile" src="src/images/rindecuentas-grey.svg" scale="0">
		</a>
		<a class="ribbon-link" href="https://www.colaboratorio.org/" target="_blank"  rel="noopener noreferrer">
			<img class="link-desktop link-colaboratorio" src="src/images/colaboratorio.svg" scale="0">
			<img class="link-mobile" src="src/images/colaboratorio-grey.svg" scale="0">
		</a>
		<a class="ribbon-link" href="https://www.quienesquien.wiki/" target="_blank" rel="noopener noreferrer">
			<img class="link-desktop link-quienesquien" src="src/images/quienesquien.svg" scale="0">
			<img class="link-mobile link-quienesquien" src="src/images/quienesquien-grey.svg" scale="0">
		</a>
		<a class="ribbon-link" href="https://mexicoleaks.mx/" target="_blank" rel="noopener noreferrer">
			<img class="link-desktop link-mexicoleaks" src="src/images/mexicoleaks.svg" scale="0">
			<img class="link-mobile" src="src/images/mexicoleaks-grey.svg" scale="0">
		</a>
		<a class="ribbon-link" href="https://leaks.pe/" target="_blank" rel="noopener noreferrer">
			<img class="link-desktop link-peruleaks" class="peru" src="src/images/peruleaks.svg" scale="0">
			<img class="link-mobile" src="src/images/peruleaks-grey.svg" scale="0">
		</a>
	</div>
</div>
{{/topribbon}}
