{{#> topribbon}}
<ul class="site-top-ribbon">
	<li class="ribbon-item">
		<a class="ribbon-link" href="http://projectpoder.org/es/" target="_blank" rel="noopener noreferrer">
			<img class="link-poder" style="width:115px;" src="src/images/poder-white.png" scale="0">
		</a>	
		<a class="ribbon-link" href="https://www.rindecuentas.org/" target="_blank"  rel="noopener noreferrer">
			<img class="link-rindecuentas" src="src/images/rindecuentas.svg" style="width:100%;max-height:20.141px;margin-left: 10px" scale="0">
		</a>
		<a class="ribbon-link" href="https://www.colaboratorio.org/" target="_blank"  rel="noopener noreferrer">
			<img class="link-colaboratorio" src="src/images/colaboratorio.svg" style="max-height: 24px;" scale="0">
		</a>				
	</li>
	<li class="ribbon-item ribbon-right">
		<a class="ribbon-link" href="https://www.quienesquien.wiki/" target="_blank" rel="noopener noreferrer">
			<img class="link-quienesquien" src="src/images/quienesquien.svg" scale="0">
		</a>
		<a class="ribbon-link" href="https://mexicoleaks.mx/enviar-para.php?r=poder" target="_blank" rel="noopener noreferrer">
			<img class="link-mexicoleaks" src="src/images/mexicoleaks.svg" scale="0">
		</a>							
		<a class="ribbon-link" href="https://leaks.pe/" target="_blank" rel="noopener noreferrer">
			<img class="link-peruleaks" class="peru" src="src/images/peruleaks.svg" scale="0">
		</a>	
	</li>
</ul>
{{/topribbon}}